{% extends 'base.html' %}

{% block content %}
    <h1 style ="text-align: center;">{% block title %} About Our Project {% endblock %}</h1>
    <br>
    <p>This project designed by Jack Bigler and Sean Abracia-Wendel 
        is designed to manage a database of stocks. Using Google IDX, Flask, and Python
        we created a navigational system desinged to monitor stocks for the users.
        This project was built for the Augustana Computer Science Course 310; Database Management</p>

    <br> 
    <p>Linked In: johnrbigler and Sean Abracia-Wendel</p>
    <p>Github Accounts: jbigs6134 and SeanAbracia-Wendel</p> 
{% endblock %}